@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* configuracion de la etiqueta <a /> */
a {
  text-decoration: none; /* Elimina la subrayado por defecto */
  position: relative; /* Permite posicionar la línea */
  display: inline-block; /* Hace que el enlace se comporte como un bloque pero en línea */
  padding-bottom: 5px; /* Espacio para la línea */
  font-weight: 400; /* Grosor de la fuente */
  font-size: 17px;
}

a::after {
  content: ""; /* Necesario para ::after */
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 0; /* La línea empieza oculta */
  height: 4px; /* Grosor de la línea */
  border-radius: 10%;
  background-color: #3d7dbd; /* Color de la línea */
  transition: width 0.4s ease; /* Duración y tipo de transición */
}

a:hover::after {
  width: 40%; /* La línea se expande al pasar el cursor */
}

a:focus::after {
  width: 40%;
}

/* configuracion de la etiqueta <a /> */

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
